footer.page-footer.indigo
	.container
		.row
			.col.s12.m6
				h2.white-text.thin.thin Signal
				p.thin.white-text.thin Big brother is watching you.
			.col.s12.m6
				.row
					.col.s12.m6
						h5.font_size_16.white-text.thin ソーシャル
						ul
							li
								a.white-text.thin(href='http://aimerthyst.co/users/9')
									i.fa.fa-diamond.white-text.thin
									| Aimerthyst
							li
								a.white-text.thin(href='https://twitter.com/aimerthyst')
									i.fa.fa-twitter.white-text.thin
									| Twitter
					.col.s12.m6
						h5.font_size_16.white-text.thin ご利用にあたって
						ul
							li
								a.white-text.thin(href='/how_to_use/index') 使い方
							li
								a.white-text.thin(href='/sitemap/index') サイトマップ
					.col.s12.m6
						h5.font_size_16.white-text.thin サービス一覧
						ul
							li
								a.white-text.thin(href='') SNS
							li
								a.white-text.thin(href='') WEB
							li
								a.white-text.thin(href='') レーベル
					.col.s12.m6
						h5.font_size_16.white-text.thin 会社概要
						ul
							li
								a.white-text.thin(href='/company') Aimerthystってなに？
							li
								a.white-text.thin(href='/company/low') 特定商取引法に関する表記
							li
								a.white-text.thin(href='/company/privacy_policy') プライバシーポリシー
							li
								a.white-text.thin(href='/company/contact') お問い合わせ
	.footer-copyright
		.container.center
			address.white-text.thin © 2010 - #{new Date().getFullYear()} Copyright. Aimerthyst.co All right reserved.
