footer.page-footer.cyan.lighten-5
	.container
		.row
			.col.s12.m6
				h2.cyan-text.thin.tangerine Aimerthyst
				p.cyan-text
					| アーティストに道具と場所を...
					br
					| ユーザーには最高の体験を
			.col.s12.m6
				.row
					.col.s12.m6
						h5.font_size_16.brown-text ソーシャル
						ul
							li
								a.cyan-text(href='http://aimerthyst.co/users/9')
									i.fa.fa-diamond.cyan-text
									| Aimerthyst
							li
								a.cyan-text(href='https://twitter.com/aimerthyst')
									i.fa.fa-twitter.cyan-text
									| Twitter
					.col.s12.m6
						h5.font_size_16.brown-text ご利用にあたって
						ul
							li
								a.cyan-text(href='/how_to_use/index') 使い方
							li
								a.cyan-text(href='/sitemap/index') サイトマップ
					.col.s12.m6
						h5.font_size_16.brown-text サービス一覧
						ul
							li
								a.cyan-text(href='') SNS
							li
								a.cyan-text(href='') WEB
							li
								a.cyan-text(href='') レーベル
					.col.s12.m6
						h5.font_size_16.brown-text 会社概要
						ul
							li
								a.cyan-text(href='/company') Aimerthystってなに？
							li
								a.cyan-text(href='/company/low') 特定商取引法に関する表記
							li
								a.cyan-text(href='/company/privacy_policy') プライバシーポリシー
							li
								a.cyan-text(href='/company/contact') お問い合わせ
	.footer-copyright
		.container
			address.grey-text © 2015 Copyright. Aimerthyst.co All right reserved.
