header.navbar-fixed
	nav.nav-wrapper.indigo
		a.brand-logo.center.thin(href='/') Signal
		a(href="#" data-activates="mobile-demo" class="button-collapse")
			i.material-icons menu
		

		ul.right.hide-on-small-and-down
			li
				a.thin(href="/friends/") Friend
			if user_signed_in
				li
					a.thin(href="/user/setting/#{current_user.email}/#{current_user.token}") Setting
			li
				if user_signed_in
					a.thin(href="http://auth.aimer.dev/logout") Logout
				else
					a.thin(href="http://auth.aimer.dev") Login 

		ul.side-nav#mobile-demo.black
			li
				a.white-text.thin(href="") You
			li
				a.white-text.thin(href="") Setting
			li
				if user_signed_in
					a.white-text.thin(href="http://auth.aimer.dev/logout") Logout
				else
					a.white-text.thin(href="http://auth.aimer.dev") Login
