form(action="/users/login",method="post",accept-charset="UTF-8")
	.input-field
		input(name="email",type="email")
		label(name="email") メールドレス
	.input-field
		input(name="password",type="password")
		label(name="password") パスワード
	P
		input(name="remember_me",type="checkbox",value="1",id="remember_me")
		label(for="remember_me",id="remember_me") ログインを記憶する
	.input-field
		button.btn.waves-light.cyan
			i.mdi-action-lock-outline ログイン

