extends ../layout

block content
	section.parallax-container
		.parallax
			if current_user.image
				img(src="#{current_user.image}")
			else
				img(src="/images/colorfull2.jpg").blur
	
	.row
		if coteries.length != 0
			for cotery in coteries
				article.col.s12.m4.l3
					.card.small
						.card-image
							img(src="/images/colorfull2.jpg")
							span.card-title.ts-grey= cotery.name
						.card-action
							a(href="/coteries/#{cotery.id}").orange-text Show more
