extends ../layout

block content
	if current_user
		section.parallax-container
			.parallax
				if current_user.image
					img(src="#{current_user.image}")
				else
					img(src="/images/colorfull2.jpg").blur
		.container
			.row
				.col.s12.m6
					include _edit_user_form
				
				.col.s12.m6
					include _edit_user_image	

				.col.s12
					include _create_blog_form




	else
		a(href="/") エラーが発生しました。
