extends ../layout

block content
	section.parallax-container#before_login_page
		.parallax
			img(src="/images/colorfull2.jpg",class="blur")

	.container
		h1.center-align.white-text.ts-grey ユーザー登録
		include _form	

	
