mixin _post(post)
	article.col.s12.m6(id="posted_card_#{post.id}")
		.card
			.card-content
				.row
					.col.s2.m3.l2
						img(src="/images/amethyst_flat.png",class="circle responsive-img")
					.col.s10.m9.l10
						span.card-title.cyan-text= post.user_name
			.card-content
				p= post.body
			.card-action
				a(href="/posts/#{post.id}",class="teal-text") コメント

+_post(post)
