extends ../layout

block content
	if user
		.parallax-container
			.parallax
				img.blur(src='/images/colorfull2.jpg', alt='20150626234732')
		section.section.grey.lighten-5
			include ../parts/_logout

			.container
				.row#socket_post_card
					.input-field
						textarea(name="body",id="post_body",class="materialize-textarea")
						label(for="body")なんか書こう
					.input-field
						button.btn.cyan#post Post

			#scroll_fire.container
				#card_box.row
					- for(var i=0;i<18;i++)
						include ../posts/_card


	else
		section.parallax-container
			.parallax
				img(src="/images/colorfull2.jpg",class="blur")
		.row
			section.col.s12.m4.grey.lighten-5
				h1.tangerine.cyan-text Aimerthyst
				p.cyan-text ログインはこちらから
				include ../auth/_login_form
				include ../auth/_attention	
			
				.card
					.card-image
						img(src="/images/amethyst_flat.png",class="")
						span.card-title.ts-grey Aimerthyst
					.card-content
						a(href="/company")
					.card-action
						a(href="") Access!


			section.col.s12.m8.cyan.lighten-5
				.row
					- for(var i=0;i<18;i++)
						include ../cards/_post
