extends ../layout

block content
	if current_user
		.parallax-container
			.parallax
				img.blur(src='/images/colorfull2.jpg', alt='20150626234732')
		section.section.grey.lighten-5
			#scroll_fire.container
				#card_box.row
					a(href="/users/#{current_user.id}")= current_user.name


					//for post in posts
					//	include _post

	else
		section.parallax-container
			.parallax
				img(src="/images/colorfull2.jpg",class="blur")
		.row
			p= current_user
			section.col.s12.m4.grey.lighten-5
				h1.tangerine.cyan-text Aimerthyst
				p.cyan-text ログインはこちらから
				include ../auth/_login_form
				include ../auth/_attention	
			
				.card
					.card-image
						img(src="/images/amethyst_flat.png",class="")
						span.card-title.ts-grey Aimerthyst
					.card-content
						a(href="/company")
					.card-action
						a(href="") Access!


			section.col.s12.m8.cyan.lighten-5
				.row
					- for(var i=0;i<18;i++)
						include ../cards/_post
