extends ../layout

block content
	.slider
		ul.slides
			li
				img(src="/images/star1.jpg")
			li
				img(src="/images/star2.jpg")
			li
				img(src="/images/star3.jpg")

	section
		.container
			.row
				.col.s12.m4
					.center
						h1.thin.indigo-text Map
					p.black-text
						| ”現在地を知ること”
						| それは今の私達を知る一番簡単で確実な方法です。
						| 私達のサービスはそれを簡単に共有できます。

				.col.s12.m4
					.center
						h1.thin.teal-text SMS
					p.black-text
						| 現在地の共有とメッセージの送信は常にセットで利用できます。
						| いくら制度が高くなってもGPSの制度には限界がありますから
						| メッセージを併せた強力な現在地共有を提供します。

				.col.s12.m4
					.center
						h1.thin.pink-text Pin
					p.black-text
						| Signalはビジネスにも利用できます。
						| 例えばお店の前を通りかかったフォロワーにセール情報を送ったりすることも簡単です。
						| 店内の所定の場所に顧客を誘導するのもSignalを使えば簡単に実現できます。
