mixin _post(i)
	.col.s12.m6
		.card
			.card-image
				img(src="/images/amethyst.jpg")
				span.card-title.ts-grey= i
			.card-content
				p テストのカード:
			.card-action
				a(href="") show more...

+_post(i)
