header
	nav.nav-wrapper.cyan.lighten-5
		#header_margin.containers
			a.brand-logo.cyan-text.thin.tangerine(href='/') Aimerthyst
				ul#nav-mobile.right.hide-on-med-and-down
					li
						a.dropdown-button.cyan-text(data-activates='company_info', href='#!') 運営チームについて
				ul#company_info.dropdown-content
					li
						a(href='/company') 会社概要
					li
						a(href='') 特定商取引に基づく表記
					li
						a(href='/company/privacy_policy') プライバシーポリシー
					li
						a(href='/company/contact') お問い合わせ
