extends ../layout

block content
	section.parallax-container
		.parallax
			img.blur(src='/images/amethyst.jpg', alt='Aimerthyst image')
		article#over_marhin.center
			h1.tangerine.thin.white-text.ts-grey.font_size_66 Aimerthys
			p.thin.white-text.ts-grey 私のたった一つの望み。希望の象徴。
		
	section.section
		.container
			.row
				.col.s12
					h1.teal-text.thin ::About us
					p.apple_grey
						strong.cyan-text Aimerthyst
						| は代表UGが2010年から構想していた計画を実現する組織です。
						| 名前の由来は宝石のアメジストとフランス語で好きを意味するaimerの造語です。
						| 名前の発案者はTakehiroで
						strong.pink-text Aimerthyst
						| の前身であるあかい盾から赤色の鉱石ということで決まりました。
						| 鉱石としてのアメジストには『創造性を高める』という言い伝えがあり、
						| また、加熱するとシトリンという鉱石になるのですがシトリンには
						| 『幸運を持たらす』という言い伝えがあるそうなので
						| 自分たちのしていることを大切に、
						| アーティストにステージを、
						| 熱意が幸運に変わることを願ってこの名に決まりました。
	section.section.pink.lighten-3
		.container
			.row
				h2.white-text.thin ::purpose
				.col.s12.m6
					article.card.z-depth-3.large
						.card-image
							img.blur(src='/images/colorfull2.jpg', alt='',class: "blur")
						.card-content
							span.card-title.grey-text プレイヤーのために
							p.grey-text
								| より楽しく、より簡単に遊べる遊び場をここに
						.card-action
							a(href='') プレイヤーに向けて
				.col.s12.m6
					article.card.large.z-depth-4
						.card-image
							img.blur(src='/images/colorfull3.jpg', alt=':')
						.card-content
							span.card-title.grey-text レーベル構想
							p.grey-text
								| 自分の世界を拡張するアーティストの力になるため、
								| 私達は「Aimerthyst/Label」を目指します。
						.card-action
							a(href='') クリエイターに向けて

	section.section
		.container
			.row
				h2.teal-text.thin ::Member
				.col.s12.m6
					article.card.z-depth-3.medium
						.card-image
							img.responsive-img(src='/images/yuuji.png', alt='Yuuji')
							span.card-title.thin.ts-grey CEO::UG
						.card-content
							p
								strong.pink-text Aimerthyst
								| の団長にして企画・運営・プログラミングとなんでもこなすマルチプレイヤー。
								strong.red-text Aimerthyst
								| の経営とエンジニアを兼務する。
						.card-action
							a(href='/users/1') もっと詳しく
				.col.s12.m6
					article.card.z-depth-3.medium
						.card-image
							img.responsive-img(src='/images/masaomi.jpg', alt='Masaomi')
							span.card-title.thin.ts-grey Masaomi
						.card-content
							p
								strong.purple-text Aimerthyst
								| の暫定デザイナー。本当の仕事はレコーディングとかいろいろと(・∀・)！
						.card-action
							a(href='/users/2') もっと詳しく
				.col.s12.m6
					article.card.z-depth-3.medium
						.card-image
							img.responsive-img.blur(src='/images/colorfull2.jpg', alt='')
							span.card-title.thin.ts-grey Takehiro
						.card-content
							p
								strong.thin Aimerthyst
								| の企画・発案と広報・営業。
								strong.cyan-text Aimerthyst
								| の名付け親。落ち着いたら音楽事業を仕切る方向に進む。
						.card-action
							a(href='/users/6') もっと詳しく
	section.section.cyan.lighten-1
		.container.white-text
			.row
				h2.white-text.thin ::History
				table.bordered.thin
					thead
						tr
							th お知らせ日時
							th 概要
					tbody
						tr
							td 2010年4月
							td
								| UGがレーベル構想(現在の
								strong Aimerthyst
								| )を発案する。
						tr
							td 2013年2月
							td
								| Aimerthystの前身にあたる組織「あかい盾」が発足。
						tr
							td 2013年8月
							td
								| エンジニアの不足により活動を凍結。
						tr
							td 2015年6月
							td
								| 代表者が自らエンジニアになることでエンジニアが解決。
								| 再度あかい盾を継承するレーベルの起ち上げを計画し現在のメンバーが集結。
								br
								| 2時間の激論の末にレーベル名を
								strong Aimerthyst
								| とし活動を開始する。
								| (・∀・)！
						tr
							td 2015年7月
							td
								| クリエイター向けにツールや市場を提供するサービスと 
								| コンシューマー向けに購入し遊ぶ場所を提供するサービスとに分かれて事業展開を開始
								
