.input-field
	textarea(name="body",id="post_body",class="materialize-textarea")
	label(for="body") なんか書こう
.input-field
	input(type="hidden",value="#{current_user.id}",id="user_id")
	button.btn.cyan#post Post
