extends ../layout

block content
	section.parallax-container
		.parallax
			img(src="/images/colorfull2.jpg").blur
	.container
		.row
			.s12.m6
				.card
					.card-content
						h5.font_size_18= post.user.name
						p= post.body
					
					.card-content
						p.cyan-text コメント一覧

					.card-action
						form(action="",method="post")
							.input-field
								input(class="",name="comment",type="text")
								label(name="comment") コメントをする
