doctype html
html(lang="ja")
	head
		meta(content='text/html; charset=UTF-8', http-equiv='Content-Type')
		meta(content='width=device-width, initial-scale=1.0 user-scalable=0', name='viewport')
		meta(content='', name='keyword')
		meta(content='', name='descripiton')
		
		link(rel='stylesheet', href='/css/main.css')
		link(rel='stylesheet', href='/css/validationEngine.jquery.css')

		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(href='/images/amethyst_flat.png', rel='shortcut icon')
		link(href='/images/amethyst_flat.png', rel='apple-touch-icon')
		title= title
	body
		include parts/_header		
		
		block content
		
		include parts/_footer
		script(src="/js/main.js")
		script(src="/socket.io/socket.io.js")
		script(src="/js/socket.js")
		script(src="/js/jquery.validationEngine.js")
		script(src="/js/jquery.validationEngine-ja.js")
		script(src="/js/validate.js")
		include parts/_flash
		
